.nodecorationahref, .navi .navimenu ul li a, #mcbook .mcbook .mcbookhead .mcbookheader .video, .services .servicesicons .servicesiconsingle, .footer .footercontainer .footerdivright .symu {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
  transition-duration: 0.75s; }

p {
  margin: 0;
  padding: 0; }

.lightgreybg {
  width: 100%;
  margin-top: -50px;
  background-color: #f4f4f4; }

.container {
  width: 1170px;
  padding: 0 16px 100px 16px;
  color: #a7a7a7; }

.line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  border: none; }

.corebutton, .ourprices .ourpricesplan .ourpricesplanitem .itemconditionbotbtn, .ourprices .ourpricesplan .ourpricesplanitem .ourpricesplanitembtn, .joincommunity .container .joincommunitybtndiv .joincommunitybtn {
  background-color: #ed145b;
  border: none;
  padding: 16px 65px;
  border-radius: 25px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  transition-duration: 0.75s;
  cursor: pointer; }
  .corebutton:hover, .ourprices .ourpricesplan .ourpricesplanitem .itemconditionbotbtn:hover, .ourprices .ourpricesplan .ourpricesplanitem .ourpricesplanitembtn:hover, .joincommunity .container .joincommunitybtndiv .joincommunitybtn:hover {
    transition-duration: 0.75s;
    background-color: #FFF;
    color: #ed145b; }

.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%; }
  .navi .navihead h3 {
    display: inline-flex;
    color: #FFF; }
    .navi .navihead h3:first-of-type {
      color: #ed145b; }
  .navi .navimenu ul {
    padding: 0;
    list-style-type: none;
    display: flex; }
    .navi .navimenu ul li a {
      padding: 0 10px; }
      .navi .navimenu ul li a:hover {
        color: #ed145b; }

.jumbotron {
  background-image: url("headerpicture.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 3; }

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .hero .herohead {
    display: inline-flex; }
    .hero .herohead h1 {
      text-transform: uppercase;
      font-size: 46px; }
      .hero .herohead h1:first-of-type {
        font-weight: 700;
        color: #FFF; }
  .hero .heroparagraph {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .hero .herobutton {
    padding-top: 50px; }

#mcbook {
  position: relative;
  z-index: 1; }
  #mcbook:before {
    content: "";
    width: 100%;
    height: 25px;
    background-color: #ed145b;
    transform: skewY(-0.5deg);
    position: absolute;
    top: 10px;
    z-index: 0; }
  #mcbook .mcbook {
    display: flex; }
    #mcbook .mcbook .mcbookhead {
      display: flex;
      flex: 0.75; }
      #mcbook .mcbook .mcbookhead .mcbookheader {
        display: flex;
        padding-top: 100px;
        display: flex;
        flex-direction: column; }
        #mcbook .mcbook .mcbookhead .mcbookheader .line {
          margin-left: 0; }
        #mcbook .mcbook .mcbookhead .mcbookheader .video {
          padding-top: 25px;
          display: inline-flex;
          align-items: center;
          color: #ed145b; }
          #mcbook .mcbook .mcbookhead .mcbookheader .video .fa-play-circle-o {
            padding-left: 20px;
            font-size: 27px; }
    #mcbook .mcbook .mcbookimage {
      display: flex;
      flex: 1;
      margin: 100px 40px 0 40px; }
      #mcbook .mcbook .mcbookimage .imagediv {
        display: flex;
        position: absolute; }
        #mcbook .mcbook .mcbookimage .imagediv img {
          width: 100%;
          height: 100%; }

.services {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .services .servicesheader {
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .services .servicesheader p {
      padding: 0 150px 0 150px;
      text-align: center; }
  .services .servicesicons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px; }
    .services .servicesicons .servicesiconsingle {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #ed145b;
      text-transform: uppercase; }
      .services .servicesicons .servicesiconsingle:hover {
        color: #a7a7a7;
        transition: 0.25s; }
        .services .servicesicons .servicesiconsingle:hover .fa {
          border: 2px #ed145b solid; }
      .services .servicesicons .servicesiconsingle .fa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        background: none;
        border: 2px #a7a7a7 solid;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        text-align: center;
        line-height: 100px;
        transition: 0.25s; }

.carousel {
  background-image: url("carouselbg.png");
  background-position: center;
  background-size: cover;
  position: relative; }

.carousel-content {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column; }
  .carousel-content .quote, .carousel-content .quote1, .carousel-content .quote2 {
    font-size: 52px;
    color: #ed145b; }
  .carousel-content .quote2 {
    transform: rotate(180deg); }
  .carousel-content .quotetxt {
    color: #a7a7a7;
    font-size: 25px; }

#text-carousel {
  width: 100%;
  padding: 75px; }

.ourprices {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .ourprices .ourpricesheader {
    padding: 150px 0 75px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .ourprices .ourpricesheader p {
      padding: 0 150px 0 150px;
      text-align: center; }
  .ourprices .ourpricesplan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .ourprices .ourpricesplan .ourpricesplanitem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 250px;
      height: 460px;
      margin: 0 12px 0 12px;
      background-color: #FFF; }
      .ourprices .ourpricesplan .ourpricesplanitem:hover .ourpricesplanitemtop {
        background-color: #ed145b;
        transition: 0.5s; }
      .ourprices .ourpricesplan .ourpricesplanitem .itemconditionbotbtn {
        pointer-events: none; }
      .ourprices .ourpricesplan .ourpricesplanitem .ourpricesplanitembtn {
        background-color: #f4f4f4;
        color: #5a5a5a;
        pointer-events: none;
        margin-top: -25px; }
      .ourprices .ourpricesplan .ourpricesplanitem .ourpricesplanitemtop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #5a5a5a;
        transition: 0.5s;
        width: 100%;
        color: #FFF; }
        .ourprices .ourpricesplan .ourpricesplanitem .ourpricesplanitemtop p {
          font-size: 15px;
          margin-top: -10px;
          padding-bottom: 35px; }
        .ourprices .ourpricesplan .ourpricesplanitem .ourpricesplanitemtop .ourpricesplanitemtopinside {
          display: flex;
          flex-direction: row;
          align-items: center; }
          .ourprices .ourpricesplan .ourpricesplanitem .ourpricesplanitemtop .ourpricesplanitemtopinside h1 {
            font-size: 50px; }
          .ourprices .ourpricesplan .ourpricesplanitem .ourpricesplanitemtop .ourpricesplanitemtopinside h2 {
            font-size: 20px;
            margin-bottom: -10px; }
      .ourprices .ourpricesplan .ourpricesplanitem .ourpricesplanitemcondition {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0 40px 0; }
        .ourprices .ourpricesplan .ourpricesplanitem .ourpricesplanitemcondition p {
          padding: 7px 0 7px 0; }

.additional {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 75px; }
  .additional .additionalbox {
    display: flex;
    padding: 45px 15px 45px 15px;
    max-width: 360px; }
    .additional .additionalbox .additionalboxicon {
      display: flex;
      align-items: flex-start; }
      .additional .additionalbox .additionalboxicon .fa {
        font-size: 60px;
        color: #ed145b;
        padding-right: 25px; }
    .additional .additionalbox .additionalboxtext {
      display: flex;
      flex-direction: column; }
      .additional .additionalbox .additionalboxtext p {
        font-size: 15px;
        padding-bottom: 15px; }
        .additional .additionalbox .additionalboxtext p:first-child {
          color: #ed145b; }

.joincommunity {
  background-color: #ed145b;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .joincommunity .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; }
    .joincommunity .container .joincommunitytext {
      display: flex;
      padding-right: 25px; }
      .joincommunity .container .joincommunitytext h1 {
        font-size: 38px;
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        color: #FFF; }
        .joincommunity .container .joincommunitytext h1 div {
          font-weight: 700; }
    .joincommunity .container .joincommunitybtndiv {
      display: flex; }
      .joincommunity .container .joincommunitybtndiv .joincommunitybtn {
        background-color: #FFF;
        color: #ed145b; }

.news .newsheader {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .news .newsheader p {
    padding: 0 150px 0 150px;
    text-align: center; }

.download {
  display: flex;
  padding-bottom: 200px; }
  .download .downloadimage {
    display: flex;
    flex: 1;
    margin: 75px 75px 0 -100px; }
    .download .downloadimage .downloadimagediv {
      display: flex;
      position: absolute; }
      .download .downloadimage .downloadimagediv img {
        width: 100%;
        height: 100%; }
  .download .downloadhead {
    display: flex;
    flex: 0.50; }
    .download .downloadhead .downloadheader {
      display: flex;
      padding-top: 100px;
      flex-direction: column; }
      .download .downloadhead .downloadheader .downloadheaderbtn {
        padding: 25px 0 25px 0; }
      .download .downloadhead .downloadheader .line {
        margin-left: 0; }

.footer {
  background-color: #2b2b2b;
  width: 100%; }
  .footer .footercontainer {
    padding-bottom: 60px;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF; }
    .footer .footercontainer .footerdivleft {
      display: flex;
      justify-content: flex-start;
      flex: 1;
      font-size: 15px; }
    .footer .footercontainer .footerdivright {
      display: flex;
      justify-content: flex-end;
      align-self: center;
      align-items: center;
      flex: 1;
      font-size: 16px; }
      .footer .footercontainer .footerdivright .symu {
        padding-left: 10px; }
      .footer .footercontainer .footerdivright .pinkdot {
        color: #ed145b;
        font-size: 25px; }

/*# sourceMappingURL=style.css.map */
