$corepink: #ed145b;
$coregrey: #a7a7a7;
$lightgreybg: #f4f4f4;

.nodecorationahref {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
	transition-duration: 0.75s;
}

.lightgreybg {
	width: 100%;
	margin-top: -50px;
	background-color: $lightgreybg;
}

.container {
	width: 1170px;
	padding: 0 16px 100px 16px;
	color: $coregrey;
}

.line {
	width: 200px;
	height: 2px;
	background-color: $corepink;
	border: none;
}

.corebutton {
	background-color: $corepink;
	border: none;
	padding: 16px 50px;
	border-radius: 25px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFF;
	transition-duration: 0.75s;

	&:hover {
		transition-duration: 0.75s;
		background-color: #FFF;
		color: $corepink;
	}
		
}

.navi {
  	display: flex;
  	justify-content: space-between;
	align-items: center;
	min-width: 100%;
	.navihead {

		h3 {
			display: inline-flex;
			color: #FFF;
			&:first-of-type {
				color: $corepink;
			}
		}

	}
	  	
	.navimenu {
	  	ul {
			padding: 0;
			list-style-type: none;
		  	display: flex;
			li {

				a {
					padding: 0 10px;
					&:hover {
						color: $corepink;
					}
					@extend .nodecorationahref;

				}
			}
		}
	}
}

.jumbotron {
	background-image: url('headerpicture.jpg');
	width: 100%;
	background-size: cover;
	position: relative;
	z-index: 1;

}



.hero {
	display: flex;
  	align-items: center;	
	justify-content: center;
	flex-direction: column;
	.herohead {
		display: inline-flex;
		
		h1 {
			text-transform: uppercase;
			font-size: 46px;

			&:first-of-type {
				font-weight: 700;
				color: #FFF;				
			}
		}
	}

	.heroparagraph {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.herobutton {
		padding-top: 50px; 
	}
}



.pinkline {
	width: 100%;
	height: 25px;
	background-color: $corepink;
	transform: skewY(-0.50deg);
	position: relative;
	top: -45px;
	z-index: 0;
}

.mcbook {
	display: flex;

	.mcbookhead {
		display: flex;
		flex: 0.75;


		.mcbookheader {

			display: flex;
			padding-top: 100px;
			display: flex;
			flex-direction: column;

			.line {
				margin-left: 0;
			}

			.video {
				display: inline-flex;
				align-items: center;
				color: $corepink;
				@extend .nodecorationahref;

				.fa-play-circle-o {
					font-size: 27px;

				}
			}
		}
	}

	.mcbookimage {
		display: flex;
		flex: 1;
		padding-top: 75px;

		.imagediv {
			display: flex;
			position: absolute;

			img {
				width: 100%;
				height: 100%;

			}

		}
	}
}