$corepink: #ed145b;
$coregrey: #a7a7a7;
$lightgreybg: #f4f4f4;

.nodecorationahref {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
	transition-duration: 0.75s;
}

.lightgreybg {
	width: 100%;
	margin-top: -50px;
	background-color: $lightgreybg;
}

.container {
	width: 1170px;
	padding: 0 16px 100px 16px;
	color: $coregrey;
}

.line {
	width: 200px;
	height: 2px;
	background-color: $corepink;
	border: none;
}

.h1global {

}

.corebutton {
	background-color: $corepink;
	border: none;
	padding: 16px 50px;
	border-radius: 25px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFF;
	transition-duration: 0.75s;

	&:hover {
		transition-duration: 0.75s;
		background-color: #FFF;
		color: $corepink;
	}
		
}

.navi {
  	display: flex;
  	justify-content: space-between;
	align-items: center;
	min-width: 100%;
	.navihead {

		h3 {
			display: inline-flex;
			color: #FFF;
			&:first-of-type {
				color: $corepink;
			}
		}

	}
	  	
	.navimenu {
	  	ul {
			padding: 0;
			list-style-type: none;
		  	display: flex;
			li {

				a {
					padding: 0 10px;
					&:hover {
						color: $corepink;
					}
					@extend .nodecorationahref;

				}
			}
		}
	}
}

.jumbotron {
	background-image: url('headerpicture.jpg');
	width: 100%;
	background-size: cover;
	position: relative;
	z-index: 3;

}



.hero {
	display: flex;
  	align-items: center;	
	justify-content: center;
	flex-direction: column;
	.herohead {
		display: inline-flex;
		
		h1 {
			text-transform: uppercase;
			font-size: 46px;

			&:first-of-type {
				font-weight: 700;
				color: #FFF;				
			}
		}
	}

	.heroparagraph {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.herobutton {
		padding-top: 50px; 
	}
}


#mcbook {
	position: relative;
	z-index: 1;

	&:before {
		content: "";
		width: 100%;
		height: 25px;
		background-color: $corepink;
		transform: skewY(-0.50deg);
		position: absolute;
		top: 10px;
		z-index: 0;		
	}

	.mcbook {
		display: flex;

		.mcbookhead {
			display: flex;
			flex: 0.75;


			.mcbookheader {

				display: flex;
				padding-top: 100px;
				display: flex;
				flex-direction: column;

				.line {
					margin-left: 0;
				}

				.video {
					display: inline-flex;
					align-items: center;
					color: $corepink;
					@extend .nodecorationahref;

					.fa-play-circle-o {
						padding-left: 20px;
						font-size: 27px;

					}
				}
			}
		}

		.mcbookimage {
			display: flex;
			flex: 1;
			margin: 100px 40px 0 40px;

			.imagediv {
				display: flex;
				position: absolute;

				img {
					width: 100%;
					height: 100%;

				}

			}
		}
	}
}

.services {
	display: flex;
	justify-content: center;
	flex-direction: column;

	.servicesheader {
		padding-top: 150px;
		display: flex;
	  	align-items: center;	
		justify-content: center;
		flex-direction: column;

		p {
			padding: 0 150px 0 150px;
			text-align: center;
		}
	}

	.servicesicons {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 75px;

		.servicesiconsingle {
			display: flex;
			flex: 1;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			color: $corepink;
			@extend .nodecorationahref;		
			text-transform: uppercase;

			.fa {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 50px;
				background: none;
				border: 2px $coregrey solid; 
    			width: 130px;
    			height: 130px;
    			border-radius: 50%;
    			text-align: center;
    			line-height: 100px;
   
    			
			}
		}
	}

}

.carousel {
	background-image: url('carouselbg.png');
	width: 100%;
	height: 100%;
	background-size: cover;
	position: relative;

}

.carousel-content {
    color: $coregrey;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    h1 {
    	font-size: 52px;
    }

}

#text-carousel {
  	width: 100%;
  	height: auto;
  	padding: 250px;
}

