$corepink: #ed145b;
$coregrey: #a7a7a7;
$darkgrey: #5a5a5a;
$superdarkgrey: #2b2b2b;
$lightgreybg: #f4f4f4;
$darkred: #db2e44;
$lightred: #eb304d;

.nodecorationahref {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
	transition-duration: 0.75s;
}

* {
	font-family: Lato, sans-serif;
	font-weight: 700;
}

p, ul, ol,  li {
	margin: 0;
    padding: 0;
    line-height: 150%;
}

h1, h2, h3 {
	font-weight: 900;
	margin: 0;
    padding: 0;
}

.lightgreybg {
	width: 100%;
	margin-top: -50px;
	background-color: $lightgreybg;
}

.container {
	padding: 0 16px 100px 16px;
	color: $coregrey;
}

.line {
	width: 200px;
	height: 2px;
	background-color: $corepink;
	border: none;
}

.corebutton {
	background-color: $corepink;
	border: none;
	padding: 16px 65px;
	border-radius: 25px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFF;
	transition-duration: 0.75s;
	cursor: pointer;


	&:hover {
		transition-duration: 0.75s;
		background-color: #FFF;
		color: $corepink;
	}
		
}

.jumbotron {
	background-image: url('headerpicture.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 3;

	.navi {
	  	display: flex;
	  	justify-content: space-between;
		align-items: center;
		min-width: 100%;

		.navihead {
	  		display: flex;		
			align-self: center;
			h3 {
				display: inline-flex;
				color: #FFF;
				&:first-of-type {
					color: $corepink;
				}
			}
		}
	  	
		.navimenu {
	
		  	ul {
				padding: 0;
				list-style-type: none;
			  	display: flex;
				li {
					
					a {
						padding: 0 15px;
						font-size: 16px;
						&:hover {
							color: $corepink;
						}
						@extend .nodecorationahref;

					}
				}
			}
		}
	}

	.hero {
		display: flex;
	  	align-items: center;	
		justify-content: center;
		flex-direction: column;
		.herohead {
			display: inline-flex;
			
			h1 {
				text-transform: uppercase;
				font-size: 46px;

				&:first-of-type {
					font-weight: 700;
					color: #FFF;				
				}
			}
		}

		.heroparagraph {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: #FFF;
		}

		.herobutton {
			padding-top: 50px; 
		}
	}
}

#mcbook {
	position: relative;
	z-index: 1;

	&:before {
		content: "";
		width: 100%;
		height: 25px;
		background-color: $corepink;
		transform: skewY(-0.50deg);
		position: absolute;
		top: 10px;
		z-index: 0;		
	}

	.mcbook {
		display: flex;

		.mcbookhead {
			display: flex;
			flex: 0.75;


			.mcbookheader {

				display: flex;
				padding-top: 100px;
				flex-direction: column;

				.line {
					margin-left: 0;
				}

				.video {
					padding-top: 25px;
					display: inline-flex;
					align-items: center;
					color: $corepink;
					@extend .nodecorationahref;

					.fa-play-circle-o {
						padding-left: 20px;
						font-size: 27px;

					}
				}
			}
		}

		.mcbookimage {
			display: flex;
			flex: 1;
			margin: 100px 40px 0 40px;

			.imagediv {
				display: flex;
				position: absolute;

				img {
					width: 100%;
					height: 100%;

				}

			}
		}
	}
}

.services {
	display: flex;
	justify-content: center;
	flex-direction: column;

	.servicesheader {
		padding-top: 150px;
		display: flex;
	  	align-items: center;	
		justify-content: center;
		flex-direction: column;

		p {
			padding: 0 150px 0 150px;
			text-align: center;
		}
	}

	.servicesicons {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 75px;

		.servicesiconsingle {
			display: flex;
			flex: 1;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			color: $corepink;
			@extend .nodecorationahref;		
			text-transform: uppercase;

			a {
				color: $corepink;
				text-decoration: none;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}

			.fa {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 50px;
				background: none;
				border: 2px $coregrey solid; 
    			width: 130px;
    			height: 130px;
    			border-radius: 50%;
    			text-align: center;
    			line-height: 100px;
				transition: 0.25s;     

			}
		}
	}

}

.carousel {
	background-image: url('carouselbg.png');
	background-position: center;
	background-size: cover;
	position: relative;
	width: 100%;

}

.carousel-content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;


	.quote {
		font-size: 75px;
    	color: $corepink;
	}

	.quote1 {
		@extend .quote;
		transform: rotate(180deg);
	}

	.quote2 {
		@extend .quote;
		
	}

    .quotetxt {
		color: #FFF;
    	font-size: 25px;

    }

}

#text-carousel {
  	width: 100%;
  	padding: 75px;
}

.ourprices {
	display: flex;
	justify-content: center;
	flex-direction: column;

	.ourpricesheader {
		padding: 150px 0 75px 0;
		display: flex;
	  	align-items: center;	
		justify-content: center;
		flex-direction: column;

		p {
			padding: 0 150px 0 150px;
			text-align: center;
		}
	}

	.ourpricesplan {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.ourpricesplanitem {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: column;
			flex-wrap: wrap;
			width: 250px;
			height: 460px;
			margin: 0 12px 0 12px;
			background-color: #FFF;

			&:hover {
				.ourpricesplanitemtop {	
					background-color: $corepink;
					transition: 0.5s;
				}
			}

			.itemconditionbotbtn {
				@extend .corebutton;
			
				&:hover {
					background-color: $corepink;
					color: #FFF;
				}

			}

			.ourpricesplanitembtn {
				@extend .corebutton;
				background-color: $lightgreybg;
				color: $darkgrey;
				pointer-events: none;
				margin-top: -25px;
			}

			.ourpricesplanitemtop {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: $darkgrey;
				transition: 0.5s;
				width: 100%;
				color: #FFF;

				p {
					font-size: 15px;
					margin-top: -10px;
					padding-bottom: 35px;
				}

				.ourpricesplanitemtopinside {
					display: flex;
					flex-direction: row;
					align-items: center;

					h1 {
						font-size: 50px;
					}

					h2 {
						font-size: 20px;
						margin-bottom: -10px; 
					}
				}
			}

			.ourpricesplanitemcondition {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				padding: 30px 0 40px 0;

				p {
					padding: 7px 0 7px 0;
				}

			}
		}
	}
}

.additional {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 75px;

	.additionalbox {
		display: flex;
		padding: 45px 15px 45px 15px;

		max-width: 360px;

		.additionalboxicon {
			display: flex;
			align-items: flex-start;
			.fa {
				font-size: 60px;
				color: $corepink;
				padding-right: 25px;
			}
		}

		.additionalboxtext {
			display: flex;
			flex-direction: column;

			p {
				font-size: 15px;
				padding-bottom: 15px;
				&:first-child {
					color: $corepink;
				}
			}

		}
	}
}

.joincommunity {
	background-color: $corepink;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;

		.joincommunitytext {
			display: flex;
			padding-right: 25px;

			h1 {
				font-size: 38px;
				display: flex;
				flex-direction: row;
				text-transform: uppercase;
				color: #FFF;

				div {
					font-weight: 700;					
				}
			}
		}

		.joincommunitybtndiv {
			display: flex;
			.joincommunitybtn {
				@extend .corebutton;
				background-color: #FFF;
				color: $corepink;
				&:hover {
				}	
			}
		}
	}

}


.news {
	padding: 0;
	.newsheader {
		padding-top: 150px;
		display: flex;
	  	align-items: center;	
		justify-content: center;
		flex-direction: column;

		p {
			padding: 0 150px 0 150px;
			text-align: center;
		}
	}

	.newsimg {
		display: flex;
		align-content: center;
		justify-content: space-between;
		flex-wrap: wrap;

		.newsimgbox {
			display: flex;
			flex-direction: column;
			width: 360px;
			padding: 30px 15px 30px 15px;

			.newsimgboxtxt {
				padding: 10px;
				p {
					&:first-child {
						font-size: 16px;
						padding-bottom: 15px;
						color: $darkgrey;
					}
				}
			}
			
			.newsimgboxgallery {
				position: relative;
				overflow: hidden;

				&:after {
    				content: '';
    				width: 0;
					height: 0;
    				left: 50%;
    				bottom: 0;					
					border-style: solid;
					border-width: 25px 0 0 360px;
					border-color: transparent transparent transparent $corepink;
				    position: absolute;
				    transform: translatex(-50%);
				}

				&:hover {
					&:after {
						opacity: 0;
					}

					.layer {
						margin-bottom: 0;
						cursor: pointer;
						opacity: 0.9;
					}
				}

				.layer {
					width: 360px;
					height: 300px;
					position:absolute;
					bottom: 0;
					left: 0;
					margin-bottom: -300px;
					background-color: $corepink;
					transition: all 0.6s ease;
					display: flex;
					justify-content: center;
					align-items: center;

						.fa {
							margin-top: 50px;
							font-size: 50px;
							color: #corepink;

							}
				}
			}
		}
	}

	.showmore {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: $corepink;
		font-size: 15px;
		font-weight: 900;
		padding-bottom: 75px;

		a {
			text-decoration: none;
			color: inherit;
			font-size: 25px;
		}
	}
}


.additional2 {
	background-image: url('carouselbg.png');
	background-position: center;
	background-size: cover;
	position: relative;

	.container {
		.additional2header {
			padding-top: 75px;
			display: flex;
		  	align-items: center;	
			justify-content: center;
			flex-direction: column;
			color: #FFF;

			h1 {
				display: flex;
				flex-direction: row;

				div {
					text-transform: uppercase;
				}
			}
			
			p {
				padding: 0 225px 50px 225px;
				text-align: center;
			}
		}
	}
	
}


.download {

	display: flex;
	padding-bottom: 100px;

	.downloadimage {
		flex: 1;
		margin: 0;
		padding: 100px 25px 25px 0;
		margin-left: -40px;
		.downloadimagediv {
			display: flex;
			
			img {
				
				width: 100%;
				height: 100%;

			}

		}
	}

	.downloadhead {
		display: flex;
		flex: 0.60;


		.downloadheader {
			
			display: flex;
			padding-top: 125px;
			flex-direction: column;

			.downloadheaderbtn {
				padding: 25px 0 25px 0;
			}

			.line {
				margin-left: 0;
			}

		}
	}
}

.modal-dialog {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10%;

	.modal-content {
		.modalbg {
			display: flex;
			justify-content: center;
			align-content: center;
			position: relative;
			width: 1160px;
			height: 640px;
			background-color: #FFF;

			.modalimg {
				position: absolute;
				margin-top: -225px;
			}

			.modaltxt {
				display: flex;
				justify-content: center;
				align-content: center;	
				flex-direction: column;		

				h1 {
					color: $darkred;
					font-size: 48px;
				}	

				p {
					font-size: 24px;
					display: flex;
					align-self: center;
					padding-bottom: 100px;
				}

				.modalbtn {
					width: 250px;
					height: 70px;
					border-radius: 2%;
					font-size: 24px;
					color: #FFF;
					background-color: $lightred;
					border: none;
					align-self: center;
				}
			}
		}
	}
}

.footer {
	background-color: $superdarkgrey;
	width: 100%;

	.footercontainer {
		padding-bottom: 60px;
		padding-top: 60px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #FFF;


		.footerdivleft {
		display: flex;
		justify-content: flex-start;
		flex: 1;
		font-size: 15px;
		}

		.footerdivright {
		display: flex;
		justify-content: flex-end;
		align-self: center;
		align-items: center;
		flex: 1;
		font-size: 16px;

		.symu {
			padding-left: 10px;
			@extend .nodecorationahref;
		}

		.pinkdot {
			color: $corepink;
			font-size: 25px;
		}
		}
	}
}

@media(min-width: 992px) and (max-width: 1199px) {

	.container {
		padding: 0 10px 60px 10px;
	}

	.corebutton {
		&:hover {
			background-color: $corepink;
			color: #FFF;
		}		
	}

	.jumbotron {
		.navi {
			.navihead {
				h3 {
					font-size: 30px;
				}
			}
			.navimenu {
				ul {
					li {
						a {
							padding: 0 15px;
							font-size: 30px;
							color: $corepink;
							&:hover {
								
							}
						}
					}
				}
			}
		}
	}

	#mcbook {
		.mcbook {
			.mcbookhead {
				display: flex;
				flex: 0.65;
				.mcbookheader {
					padding-top: 75px;
					align-items: center;
				}
			}
			.mcbookimage {
				display: flex;
				flex: 1;
				margin: 150px 40px 0 40px;
			}
		}
	}



	.services {
		.servicesheader {
			padding-top: 50px;
			p {
				padding: 0 150px 0 150px;
				text-align: center;
			}
		}
		.servicesicons {
			display: flex;
			flex-wrap: wrap;
			padding-top: 50px;
		}
	}	

	.ourprices {
		.ourpricesplan {
			.ourpricesplanitem {
				width: 250px;
				height: 460px;
				margin: 0 100px 50px 100px;
				background-color: #FFF;
				.ourpricesplanitemtop {		
					background-color: $corepink;
				}	
				&:hover {
					
				}
			}
		}
	}

	.news {
		.newsimg {
			.newsimgbox {
				padding: 30px 15px 30px 15px;
				.newsimgboxgallery {
					position: relative;
					overflow: hidden;
					&:after {
	    				border: none;
					}
					.layer {
						margin-bottom: 0;
						background-color: transparent;
					}
				}
			}
		}
 	}

	.joincommunity {
		.container {
			.joincommunitytext {
				h1 {
					font-size: 28px;
				}
			}
			.joincommunitybtndiv {
				.joincommunitybtn {
					&:hover {
						background-color: #FFF;
						color: $corepink;
					}	
				}
			}			
		}	
	}

	.download {
		padding-bottom: 50px;
		.downloadimage {
			padding: 175px 25px 25px 0;
			margin-left: 0;
		}
	}

	.modal-dialog {
		padding-top: 25%;
		.modal-content {
			.modalbg {
				width: 900px;
				height: 480px;
				.modalimg {
					position: absolute;
					margin-top: -225px;
				}

				.modaltxt {
					padding-top: 100px;
					h1 {
						color: $darkred;
						font-size: 48px;
					}	

					p {
						font-size: 24px;
						padding-bottom: 25px;
					}

					.modalbtn {
						width: 250px;
						height: 70px;
						font-size: 24px;
					}
				}
			}
		}
	}

	.footer {
		.footercontainer {
			padding-bottom: 45px;
			padding-top: 45px;
			.footerdivleft {
				justify-content: center;
			}
			.footerdivright {
				justify-content: center;
			}
		}
	}
}


@media(min-width: 768px) and (max-width: 991px)  {
	.container {
		padding: 0 10px 50px 10px;
		font-size: 18px;
	}

	.corebutton {
		&:hover {
			background-color: $corepink;
			color: #FFF;
		}		
	}

	.jumbotron {
		.navi {
			display: flex;
			flex-direction: column;
			.navihead {
				h3 {
					font-size: 40px;
				}
			}
			.navimenu {
				padding-top: 25px;
				ul {
					li {
						a {
							padding: 0 15px;
							font-size: 30px;
							color: $corepink;
							&:hover {
								
							}
						}
					}
				}
			}
		}
	}

	#mcbook {

		.mcbook {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.mcbookhead {
				display: flex;
				flex: 0.65;
				.mcbookheader {
					padding-top: 75px;
					align-items: center;
					.line {
						margin: 25px 0 25px 0;
					}
				}
			}
			.mcbookimage {

				flex: 0.75;
				margin: 10px 40px 0 40px;

				.imagediv {
					position: relative;
					}
			}
		}
	}

	.services {
		.servicesheader {
			padding-top: 50px;
			p {
				padding: 0 100px 0 100px;
				text-align: center;
			}
		}
		.servicesicons {
			display: flex;
			flex-wrap: wrap;
			padding-top: 50px;
			
			.servicesiconsingle {
				padding: 30px 90px 0 90px;
			}
		}
	}	

	#text-carousel {
	  	padding: 25px;
	}

	.carousel-content {
	  	width: 100%;
	  	padding: 10px;
	  	.quotetxt {
			font-size: 16px;
	  	}
	  		.quote {
		font-size: 32px;
	}

	}

	.ourprices {
		.ourpricesplan {
			.ourpricesplanitem {
				width: 250px;
				height: 460px;
				margin: 0 50px 50px 50px;
				background-color: #FFF;
				.ourpricesplanitemtop {		
					background-color: $corepink;
				}	
				&:hover {
					
				}
			}
		}
	}

	.news {
		.newsimg {
			.newsimgbox {
				padding: 30px 15px 30px 15px;
				.newsimgboxgallery {
					position: relative;
					overflow: hidden;
					&:after {
	    				border: none;
					}
					.layer {
						margin-bottom: 0;
						background-color: transparent;
					}
				}
			}
		}
		.newsheader {
			padding-top: 75px;
		}
 	}

	.joincommunity {
		.container {
			display: flex;
			flex-direction: column;
			.joincommunitytext {

				h1 {
					font-size: 28px;
					padding-bottom: 40px;
				}
			}
			.joincommunitybtndiv {
				.joincommunitybtn {
					&:hover {
						background-color: #FFF;
						color: $corepink;
					}	
				}
			}
		}	
	}

	.download {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.downloadimage {
			padding: 75px 0 0 0;
			margin-left: 0;
		}

		.downloadhead {
			display: flex;
			justify-content: center;
			align-items: center;

			.downloadheader {
				justify-content: center;
				align-items: center;				
				display: flex;
				padding-top: 25px;
				flex-direction: column;

				.downloadheaderbtn {
					padding: 25px 0 25px 0;
				}
				.line {
					margin: 0;
				}
				h1 {
					padding-bottom: 30px;
				}
				p {
					padding-top: 30px;
				}

			}
		}		
	}

	.additional2 {
		.container {
			.additional2header {
				padding-top: 50px;
			
				p {
					padding: 0 100px 25px 100px;
				}
			}
		}
	}

	.modal-dialog {
		padding-top: 25%;
		.modal-content {
			.modalbg {
				width: 740px;
				height: 340px;
				.modalimg {
					position: absolute;
					margin-top: -225px;
				}

				.modaltxt {
					padding-top: 175px;
					h1 {
						font-size: 36px;
						padding-bottom: 0;
					}	

					p {
						font-size: 20px;
						display: flex;
						align-self: center;
						padding-bottom: 10px;
						padding-top: 0;
					}

					.modalbtn {
						width: 200px;
						height: 50px;
						border-radius: 2%;
						font-size: 20px;
						color: #FFF;
						background-color: $lightred;
						border: none;
						align-self: center;
					}
				}
			}
		}
	}

	.footer {
		.footercontainer {
			padding-bottom: 45px;
			padding-top: 45px;
			.footerdivleft {
				justify-content: center;
			}
			.footerdivright {
				justify-content: center;
			}
		}
	}	

}


@media(max-width: 767px) {
	.container {
		
		padding: 0 3px 20px 3px;
	}

	.corebutton {
		&:hover {
			background-color: $corepink;
			color: #FFF;
		}		
	}

	.jumbotron {
		.navi {
			display: flex;
			flex-direction: column;
			.navihead {
				h3 {
					font-size: 50px;
				}
			}
			.navimenu {

				padding-top: 20px;
				ul {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					li {
						padding: 15px 15px;
						a {
							font-size: 40px;
							color: $corepink;
							&:hover {
								
							}
						}
					}
				}
			}
		}
		.hero {
			.herohead {	
				display: flex;
				justify-content: center;
				text-align: center;
				align-items: center;
				flex-direction: column;
				h1 {
					text-transform: uppercase;
					font-size: 30px;
				}
			}


			.herobutton {
				padding-top: 25px; 
			}
		}
	}

	#mcbook {

		.mcbook {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.mcbookhead {
				display: flex;
				flex: 0.65;
				.mcbookheader {
					padding-top: 75px;
					display: flex;
					align-items: center;
					text-align: center;
					justify-content: center;
					.line {
						margin: 25px 0 25px 0;
					}
				}
			}
			.mcbookimage {

				flex: 0.75;
				margin: 10px 40px 0 40px;

				.imagediv {
					position: relative;
					}
			}
		}
	}

	.services {
		.servicesheader {
			padding-top: 50px;
			p {
				padding: 0;
				text-align: center;
			}
		}
		.servicesicons {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			padding-top: 50px;
			
			.servicesiconsingle {
				padding: 30px 90px 0 90px;
			}
		}
	}	


	.ourprices {
		.ourpricesheader {
			padding: 75px 0 0 0;
			p {
				padding: 0 0 25px 0;
			}
		}
		.ourpricesplan {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			.ourpricesplanitem {
				width: 250px;
				height: 460px;
				margin: 0 0 25px 0;
				background-color: #FFF;
				.ourpricesplanitemtop {		
					background-color: $corepink;
				}	
				&:hover {
					
				}
			}
		}
	}

	#text-carousel {
	  	padding: 0;
	}

	.carousel-content {
	  	width: 100%;
	  	padding: 0;
	  	.quotetxt {
			font-size: 14px;
	  	}
	  		.quote {
		font-size: 28px;
	}

	}



	.additional {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding-top: 25px;
	}

	.news {
		.newsimg {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			flex-direction: column;
			.newsimgbox {
				padding: 20px 15px 20px 15px;
				.newsimgboxgallery {
					position: relative;
					overflow: hidden;
					&:after {
	    				border: none;
					}
					.layer {
						margin-bottom: 0;
						background-color: transparent;
					}
				}
			}
		}
		.newsheader {
			padding-top: 50px;
			p {
				padding: 0;
			}
		}
 	}

	.joincommunity {
		.container {
			display: flex;
			flex-direction: column;
			.joincommunitytext {

				h1 {
					font-size: 14px;
					padding-bottom: 40px;
				}
			}
			.joincommunitybtndiv {
				.joincommunitybtn {
					&:hover {
						background-color: #FFF;
						color: $corepink;
					}	
				}
			}
		}	
	}


	.download {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.downloadimage {
			padding: 75px 0 0 0;
			margin-left: 0;
		}

		.downloadhead {
			display: flex;
			justify-content: center;
			align-items: center;

			.downloadheader {
				justify-content: center;
				align-items: center;				
				display: flex;
				padding-top: 25px;
				flex-direction: column;
				text-align: center;

				.downloadheaderbtn {
					padding: 25px 0 25px 0;
				}
				.line {
					margin: 0;
				}
				h1 {
					padding-bottom: 30px;
				}
				p {
					padding-top: 30px;
				}

			}
		}		
	}

	.additional2 {
		.container {
			.additional2header {
				padding-top: 25px;
				h1 {
					font-size: 26px;
				}
			
				p {
					padding: 0 25px 25px 25px;
				}
			}
		}
	}

	.modal-dialog {
		padding-top: 40%;
		.modal-content {
			.modalbg {
				width: 400px;
				height: 340px;
				.modalimg {
					top: 10%;
					position: absolute;
					margin-top: -150px;

					img {
						width: 80%;
						height: 80%;
					}
				}

				.modaltxt {
					padding-top: 175px;
					h1 {
						font-size: 28px;
						padding-bottom: 0;
					}	

					p {
						font-size: 16px;
						display: flex;
						align-self: center;
						padding-bottom: 10px;
						padding-top: 0;
					}

					.modalbtn {
						width: 175px;
						height: 40px;
						border-radius: 2%;
						font-size: 18px;
						color: #FFF;
						background-color: $lightred;
						border: none;
						align-self: center;
					}
				}
			}
		}
	}

	.footer {
		.footercontainer {
			padding-bottom: 45px;
			padding-top: 45px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.footerdivleft {
				justify-content: center;
			}
			.footerdivright {
				justify-content: center;
				
			}
		}
	}	

}


