.nodecorationahref, .navi .navimenu ul li a, #mcbook .mcbook .mcbookhead .mcbookheader .video, .services .servicesicons .servicesiconsingle {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
  transition-duration: 0.75s; }

.lightgreybg {
  width: 100%;
  margin-top: -50px;
  background-color: #f4f4f4; }

.container {
  width: 1170px;
  padding: 0 16px 100px 16px;
  color: #a7a7a7; }

.line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  border: none; }

.corebutton {
  background-color: #ed145b;
  border: none;
  padding: 16px 50px;
  border-radius: 25px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  transition-duration: 0.75s; }
  .corebutton:hover {
    transition-duration: 0.75s;
    background-color: #FFF;
    color: #ed145b; }

.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%; }
  .navi .navihead h3 {
    display: inline-flex;
    color: #FFF; }
    .navi .navihead h3:first-of-type {
      color: #ed145b; }
  .navi .navimenu ul {
    padding: 0;
    list-style-type: none;
    display: flex; }
    .navi .navimenu ul li a {
      padding: 0 10px; }
      .navi .navimenu ul li a:hover {
        color: #ed145b; }

.jumbotron {
  background-image: url("headerpicture.jpg");
  width: 100%;
  background-size: cover;
  position: relative;
  z-index: 3; }

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .hero .herohead {
    display: inline-flex; }
    .hero .herohead h1 {
      text-transform: uppercase;
      font-size: 46px; }
      .hero .herohead h1:first-of-type {
        font-weight: 700;
        color: #FFF; }
  .hero .heroparagraph {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .hero .herobutton {
    padding-top: 50px; }

#mcbook {
  position: relative;
  z-index: 1; }
  #mcbook:before {
    content: "";
    width: 100%;
    height: 25px;
    background-color: #ed145b;
    transform: skewY(-0.5deg);
    position: absolute;
    top: 10px;
    z-index: 0; }
  #mcbook .mcbook {
    display: flex; }
    #mcbook .mcbook .mcbookhead {
      display: flex;
      flex: 0.75; }
      #mcbook .mcbook .mcbookhead .mcbookheader {
        display: flex;
        padding-top: 100px;
        display: flex;
        flex-direction: column; }
        #mcbook .mcbook .mcbookhead .mcbookheader .line {
          margin-left: 0; }
        #mcbook .mcbook .mcbookhead .mcbookheader .video {
          display: inline-flex;
          align-items: center;
          color: #ed145b; }
          #mcbook .mcbook .mcbookhead .mcbookheader .video .fa-play-circle-o {
            padding-left: 20px;
            font-size: 27px; }
    #mcbook .mcbook .mcbookimage {
      display: flex;
      flex: 1;
      margin: 100px 40px 0 40px; }
      #mcbook .mcbook .mcbookimage .imagediv {
        display: flex;
        position: absolute; }
        #mcbook .mcbook .mcbookimage .imagediv img {
          width: 100%;
          height: 100%; }

.services {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .services .servicesheader {
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .services .servicesheader p {
      padding: 0 150px 0 150px;
      text-align: center; }
  .services .servicesicons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px; }
    .services .servicesicons .servicesiconsingle {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #ed145b;
      text-transform: uppercase; }
      .services .servicesicons .servicesiconsingle .fa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        background: none;
        border: 2px #a7a7a7 solid;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        text-align: center;
        line-height: 100px; }

.carousel {
  background-image: url("carouselbg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative; }

.carousel-content {
  color: #a7a7a7;
  font-size: 25px;
  display: flex;
  align-items: center;
  text-align: center; }
  .carousel-content h1 {
    font-size: 52px; }

#text-carousel {
  width: 100%;
  height: auto;
  padding: 250px; }

/*# sourceMappingURL=style.css.map */
